#div2{
    display: flex;
    width: 100%;
    height: 12vh;
    background-color: #282A35;
    padding-top: 4vh;
    padding-right: 25vh;
    padding-left: 25vh;
    box-sizing: border-box;
}

#div2 h2{
    color: white;
    font-size: 25px;
}

#div1{
    margin-left: 100vh;
    margin-top: 1vh;
    display: flex;
    width: fit-content;
}

#div1 a{
    margin-left: 2vh;
    text-decoration: none;
    color: white;
    font-size: 15px;
}

body {
    background-image: url("https://assets.goal.com/images/v3/blt35111b8b8b46699a/b4178487b0b223762672dd950ea2af4833f8662e.jpg?auto=webp&format=pjpg&width=3840&quality=60");
    background-size: cover;
    background-position: center;
}


h4{
    margin-top: 70vh;
    text-align: center;
    color: white;
    background-color: #282A35;
    width: 100%;
    font-size: 25px;
}
