body {
    background-image: url("https://a1.espncdn.com/combiner/i?img=%2Fphoto%2F2019%2F1202%2Fr636318_1296x729_16%2D9.jpg");
    background-size: cover;
    background-position: center;
}

h1, th, td{
    color: white;
}
