#openButton{
    background-color: rgb(12, 194, 230);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#openButton:hover{
    background-color: rgb(0, 150, 184);
    transition: 0.3s;
}

#slidePanel{
    width: 300px;
    height: 100%;
    background-color: rgb(12, 194, 230);
    position: fixed;
    top: 0;
    left: -300px;
    box-shadow: -2px 0 5px rgba(0,0,0,0.5);
    transition: left 0.3s ease;
}

#slidePanel.active{
    left: 0;
}


#closeButton{
    background-color: rgb(12, 194, 230);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    float: right;
}

#slidePanel h3{
    color: white;
    padding: 20px;
}

#slidePanel h3:hover{
    cursor: pointer;
    background-color: rgb(0, 150, 184);
}
